body {
    background-color: #2b463c;
    margin: 0;
}

.materias {
    padding-bottom: 80px;
}

.materias h2 {
    color: #b1d182;
    font-size: 40px;
}

.materias button {
    background-color: #688f4e;
    border: none;
    margin-top: 20px;
    text-align: center;
}

.materias label {
    color: #b1d182;
}

.materias small {
    color: #f4f1e9;
}

.materias .container {
    max-width: 400px;
}
