body {
    background-color: #2b463c;
    margin: 0;
}

.register {
    padding-bottom: 80px;
}

.register h2 {
    color: #b1d182;
    font-size: 40px;
}

.register button {
    background-color: #688f4e;
    border: none;
    margin-top: 20px;
    text-align: center;
}

.register label {
    color: #b1d182;
}

.register small {
    color: #f4f1e9;
}

.register .container {
    max-width: 400px;
}

.register .form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}