body {
    background-color: #2b463c;
    margin: 0;
}

.teacher {
    padding-bottom: 80px;
}

.teacher h2 {
    color: #b1d182;
    font-size: 40px;
}

.teacher .teach2 {
    max-width: 800px;
}

.teacher .teach2 .col {
    border: 1px solid #688f4e;
}